/* @import url("./articles.css"); */
@import url("./github-markdown-light.css");
@import url("https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css");
@import url("https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkaibright/dist/LXGWBright-Regular/result.css");

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/* @import "tailwindcss/preflight"; */

:root {
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-fg-muted: #656d76;
    --color-fg-default: #1F2328;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-accent-fg: #0969da;
    --color-accent-fg-darker: #043166;
    --color-canvas-default: #ffffff;
    --color-subtopic: #767676;

    /* 设置选中文本的文字颜色 */
    --text-selected-color: white;
    /* 设置选中文本的背景颜色 */
    --text-selected-bg-color: rgba(102, 160, 255, 0.69);


    /* 主字体：优先用 LXGW Bright，作为中文/英文主字体 */
    --fontStack-sansSerif: "LXGW WenKai", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /* 代码字体栈：参考 GitHub 默认 */
    --fontStack-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, "LXGW WenKai", monospace;
    --fontStack-mono-mobile: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace, "LXGW WenKai";
}

a {
    text-decoration: none;
    /* 预设一个渐变背景，初始宽度为0或透明 */
    background: linear-gradient(to bottom, transparent 60%, rgba(66, 185, 131, 0.2) 0);
    /* 这里颜色可以用你喜欢的淡蓝或淡红 */
}

a:hover {
    /* 悬停时加深颜色或改变背景 */
    background: linear-gradient(to bottom, transparent 60%, rgba(66, 185, 131, 0.4) 0);
    /* 或者简单的底部边框动画 */
    /* border-bottom: 1px solid #42b983;  */
}